<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="basePath">./logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="File" fileName="${basePath}/application.log" filePattern="${basePath}/application-%d{yyyy-MM-dd}.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<SizeBasedTriggeringPolicy size="500 KB" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.example.log4j2.beta.LoginDemo1" level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>